In [1]:
import sys
sys.path.append("..")

In [2]:
from keyvalue_client import KeyStore
import time

In [9]:
db_conn = KeyStore()

Checking for leader IP
{'nodeID': '10', 'oper': 'response', 'message': {'leader': 10, 'host': '192.168.0.101', 'port': 9005}}
Leader data is {'leader': 10, 'host': '192.168.0.101', 'port': 9005}
Test passed
Returning leader ip to client

# Writing data to DataBase

In [10]:
body = {"studentID":1,"class":"8:00","type":"MS"}

In [11]:
db_conn.write(bucket_name="db",body=body)

db {'studentID': 1, 'class': '8:00', 'type': 'MS'} .

{'multicast': True,
 'nodeID': '10',
 'oper': 'response',
 'message': {'success': 1, 'data': 'Record added, ID is 24'},
 'send_time': '02/14/2022, 11:35:52',
 'timestamp': '02/14/2022, 11:35:52',
 'sqn_no': 25}

### Stress testing

In [6]:
# stress testing
for i in range(10):
    body = {"studentID":i+1,"class":"8:00","type":"MS"}
    print(db_conn.write(bucket_name="db",body=body))
    time.sleep(1)

db {'studentID': 1, 'class': '8:00', 'type': 'MS'} .
{'multicast': True, 'nodeID': '10', 'oper': 'response', 'message': {'success': 1, 'data': 'Record added, ID is 13'}, 'send_time': '02/14/2022, 09:41:35', 'timestamp': '02/14/2022, 09:41:35', 'sqn_no': 13}
db {'studentID': 2, 'class': '8:00', 'type': 'MS'} .
{'multicast': True, 'nodeID': '10', 'oper': 'response', 'message': {'success': 1, 'data': 'Record added, ID is 14'}, 'send_time': '02/14/2022, 09:41:36', 'timestamp': '02/14/2022, 09:41:36', 'sqn_no': 14}
db {'studentID': 3, 'class': '8:00', 'type': 'MS'} .
{'multicast': True, 'nodeID': '10', 'oper': 'response', 'message': {'success': 1, 'data': 'Record added, ID is 15'}, 'send_time': '02/14/2022, 09:41:37', 'timestamp': '02/14/2022, 09:41:37', 'sqn_no': 15}
db {'studentID': 4, 'class': '8:00', 'type': 'MS'} .
{'multicast': True, 'nodeID': '10', 'oper': 'response', 'message': {'success': 1, 'data': 'Record added, ID is 16'}, 'send_time': '02/14/2022, 09:41:38', 'timestamp': '02/14/2022, 09:41:38', 'sqn_no': 16}
db {'studentID': 5, 'class': '8:00', 'type': 'MS'} .
{'multicast': True, 'nodeID': '10', 'oper': 'response', 'message': {'success': 1, 'data': 'Record added, ID is 17'}, 'send_time': '02/14/2022, 09:41:39', 'timestamp': '02/14/2022, 09:41:39', 'sqn_no': 17}
db {'studentID': 6, 'class': '8:00', 'type': 'MS'} .
{'multicast': True, 'nodeID': '10', 'oper': 'response', 'message': {'success': 1, 'data': 'Record added, ID is 18'}, 'send_time': '02/14/2022, 09:41:40', 'timestamp': '02/14/2022, 09:41:40', 'sqn_no': 18}
db {'studentID': 7, 'class': '8:00', 'type': 'MS'} .
{'multicast': True, 'nodeID': '10', 'oper': 'response', 'message': {'success': 1, 'data': 'Record added, ID is 19'}, 'send_time': '02/14/2022, 09:41:41', 'timestamp': '02/14/2022, 09:41:41', 'sqn_no': 19}
db {'studentID': 8, 'class': '8:00', 'type': 'MS'} .
{'multicast': True, 'nodeID': '10', 'oper': 'response', 'message': {'success': 1, 'data': 'Record added, ID is 20'}, 'send_time': '02/14/2022, 09:41:42', 'timestamp': '02/14/2022, 09:41:42', 'sqn_no': 20}
db {'studentID': 9, 'class': '8:00', 'type': 'MS'} .
{'multicast': True, 'nodeID': '10', 'oper': 'response', 'message': {'success': 1, 'data': 'Record added, ID is 21'}, 'send_time': '02/14/2022, 09:41:43', 'timestamp': '02/14/2022, 09:41:43', 'sqn_no': 21}
db {'studentID': 10, 'class': '8:00', 'type': 'MS'} .
{'multicast': True, 'nodeID': '10', 'oper': 'response', 'message': {'success': 1, 'data': 'Record added, ID is 22'}, 'send_time': '02/14/2022, 09:41:44', 'timestamp': '02/14/2022, 09:41:44', 'sqn_no': 22}

# Reading Record By ID from database

In [7]:
db_conn.readbyID(bucket_name="db",id=1)

db 1 .

{'multicast': True,
 'nodeID': '10',
 'oper': 'response',
 'message': {'success': 1,
  'data': {'studentID': 1, 'class': '8:00', 'type': 'MS'}},
 'send_time': '02/14/2022, 10:23:39',
 'timestamp': '02/14/2022, 10:23:39',
 'sqn_no': 23}

# Deleting Record by ID

In [ ]:
lst = [i for i in range(101)]

In [ ]:
db_conn.deletebyID(bucket_name="db",id=lst)

# Update record by ID

In [12]:
query = {"query":{"studentID":"1353245"}, 'id':1}
db_conn.updatebyID(bucket_name="db", data=query)

{'multicast': True,
 'nodeID': '10',
 'oper': 'response',
 'message': {'success': 1, 'data': 'Record updated sucessfully'},
 'send_time': '02/14/2022, 01:44:37',
 'timestamp': '02/14/2022, 01:44:37',
 'sqn_no': 2}